@model IEnumerable<RRHH.Models.Idioma>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Idiomas</h2>

<p>
    <a href="~/Idiomas/Create" class="btn btn-success" data-toggle="idiomas" data-target="create">Insertar Idioma</a>
    <!--Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
       <table class="table table-bordered">
        <tr class="btn-primary">

            <th>Nombre</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
          


        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdIdioma }) |
                <!--Html.ActionLink("Details", "Details", new { id=item.IdIdioma }) -->|
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdIdioma })
            </td>
        </tr>
}

    </table>
